In [1]:
import pandas as pd

In [4]:
a = pd.read_csv('a.csv')
a

  event            ts
0     A  7/22/17 2:34
1     A  7/22/17 3:34
2     A  7/22/17 4:34
3     A  7/22/17 5:34
4     A  7/22/17 6:34

In [5]:
b = pd.read_csv('b.csv')
b

  event            ts
0     B  7/22/17 3:05
1     B  7/22/17 4:05
2     B  7/22/17 5:05
3     B  7/22/17 6:05
4     B  7/22/17 7:05

In [9]:
pd.concat([a, b]).sort_values(['ts']).reset_index(drop=True)

  event            ts
0     A  7/22/17 2:34
1     B  7/22/17 3:05
2     A  7/22/17 3:34
3     B  7/22/17 4:05
4     A  7/22/17 4:34
5     B  7/22/17 5:05
6     A  7/22/17 5:34
7     B  7/22/17 6:05
8     A  7/22/17 6:34
9     B  7/22/17 7:05